<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MindEco"
        tools:targetApi="31">
        <activity
            android:name=".registro"
            android:exported="false" />
        <activity
            android:name=".data"
            android:exported="false" />
        <activity
            android:name=".placeFour"
            android:exported="false" />
        <activity
            android:name=".placeThree"
            android:exported="false" />
        <activity
            android:name=".placeTwo"
            android:exported="false" />
        <activity
            android:name=".placeOne"
            android:exported="false" />
        <activity
            android:name=".Lugares"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR_API_KEY" />

        <activity
            android:name=".subir"
            android:exported="false" />
        <activity
            android:name=".menuinfo"
            android:exported="false" />
        <activity
            android:name=".gris_basura"
            android:exported="false" />
        <activity
            android:name=".rojo_basura"
            android:exported="false" />
        <activity
            android:name=".naranja_basura"
            android:exported="false" />
        <activity
            android:name=".verde_basura"
            android:exported="false" />
        <activity
            android:name=".azul_basura"
            android:exported="false" />
        <activity
            android:name=".yellow_basura"
            android:exported="false" />
        <activity
            android:name=".info_datos"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".resultsCal"
            android:exported="false" />
        <activity
            android:name=".calAskIII"
            android:exported="false" />
        <activity
            android:name=".calAskII"
            android:exported="false" />
        <activity
            android:name=".calAsk"
            android:exported="false" />
        <activity
            android:name=".calculator"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>